.quote
  .row
    .columns.medium-12
      %code
        .panel.radius
          = q.body
  .row
    .columns.medium-12
      %p.details
        %span
        = link_to 'Up!', up_quote_votes_path(q), method: :post, class: 'button tiny success radius' unless q.has_user_voted?(:up, current_user)
        = link_to 'Down!', down_quote_votes_path(q), method: :post, class: 'button tiny alert radius' unless q.has_user_voted?(:down, current_user)
        %span
          Added
          %strong #{time_ago_in_words(q.created_at)} ago
          by
          %strong= q.creator.name
